:root {
    --main-background-color: #10151D;

    --main-div-color: #1B222D;
    --second-div-color: #2A3343;

    --accent-color: #A87FFB;

    --main-text-color: #F0F8FF;
    --second-text-color: #000000;

    --border-color: #353B41;

    --large-border-radius: 30px;
}